/* // const styles = {
    //   root: {
    //     display: 'flex',
    //     flexWrap: 'wrap',
    //     '& > *': {
    //       margin: 16,
    //       width: 128,
    //       height: 128,
    //     },
    //   },
    // }; */

#filedrop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
    padding: 20px;
}

#filedrop>*{
    margin: 16px;
    width: 200px;
    height: 200px;
    display: flex;

}

#dentro{
    background-color: white;
    opacity: 0.5;
}